

* {
    font-family: 'Roboto', sans-serif;
}


body {
    width: 355px;
}


a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/******Componant Restaurant Card*****/

.restaurant-card {
    height: 251px;
    width: 340px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: white;
    margin-bottom: 1em;
}

.restaurant-card img {
    width: 100%;
    height: 76%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tag {
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: #99E2D0;
    width: 80px;
    height: 22px;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}

.tag p {
    margin: 0;
    color: #008766;
    font-weight: bold;
}

.card-content {
    padding-left: 10px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.card-content h3 {
    margin: 0;
    font-size: 16px;
    margin-top: 10px;
}

.card-content p {
    margin: 0;
    font-size: 14px;
}

.content-icon {
    display: flex;
    align-items: center;
}

.fa-heart {
    font-size: 22px;
}




/*********Componant Function Card*********/

.function-card {
    display: flex;
    width: 335px;
    border-radius: 20px;
    height: 72px;
    position: relative;
    margin: 10px;
    background-color: #F6F6F6;
    box-shadow: 0px 4px 15px 0px #00000026;
    margin-bottom: 2em;
}

.function-card-number {
    position: absolute;
    left: -13px;
    top: 10px;
    background-color: #9356DC;
    color: white;
    border-radius: 31px;
    width: 24px;
    text-align: center;
    height: 21px;
    padding-top: 2px;
}

.function-card i {
    display: flex;
    align-items: center;
    padding-left: 29px;
    font-size: 21px;
    color: #7E7E7E;
}

.function-card-title {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

/****Footer *****/

footer {
    background-color: #353535;
    color: white;
    margin-top: 2em;
}

footer img {
    width: 120px;
    padding-left: 2.5em;
    fill: white;
    padding-top: 2em;
}

.footer-list {
    display: flex;
    line-height: 2em;
}

.footer-list i {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.footer-list p {
    padding-left: 12px;
    margin: 0;
}

/***Componant Btn***/

.btn {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(358.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: white;
    border: none;
    font-size: 1em;
    box-shadow: 0px 6px 4px 0px #00000026;
}

/******** Header ********/

.location {
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
    color: #353535;
    justify-content: center;
}

.location p {
    padding-left: 1em;
}

.content-resume {
    text-align: center;
}

header img {
    width: 100%;
}