/********* General **********/
.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before, .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #9356DC;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #FF79DA;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%, 100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
.wrap {
  animation: wrap 3s 2s backwards;
}

@keyframes wrap {
  0% {
    transform: translateX(-2000px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.container-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  animation: container-loader 4s 1s forwards;
}

@keyframes container-loader {
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2000px);
  }
}
body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/***** Variables ******/
/***********Header*************/
.container-header {
  text-align: center;
  margin-top: 2em;
}
.container-header img {
  width: 200px;
}
@media screen and (min-width: 1024px) {
  .container-header img {
    margin-bottom: 2em;
  }
}

.location {
  display: flex;
  align-items: center;
  background-color: #dddddd;
  color: #353535;
  justify-content: center;
}
.location p {
  padding-left: 1em;
}

.content-resume {
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 4em;
}
.content-resume h2 {
  margin-top: 0;
  padding-top: 2em;
  margin-right: 1em;
  margin-left: 1em;
}
@media screen and (min-width: 768px) {
  .content-resume h2 {
    font-size: 2.5em;
  }
}
.content-resume p {
  color: #353535;
  font-size: 18px;
  padding: 5px;
}

/***Componant Btn***/
.btn {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(358.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border: none;
  font-size: 1em;
  box-shadow: 0px 6px 4px 0px #d0d0d0;
  transition-duration: 400ms;
  /***Responsive Desktop & Tablette***/
}
@media screen and (min-width: 1024px) and (min-width: 768px) {
  .btn {
    margin-top: 1em;
  }
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 6px 8px 0px #777777;
  cursor: pointer;
}

/***********Main*************/
.section-title {
  padding-top: 2em;
  padding-left: 1em;
}
@media screen and (min-width: 768px) {
  .section-title {
    margin-left: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .section-title {
    margin-left: 3em;
  }
}

/*********Componant Function Card*********/
.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .container-card {
    flex-wrap: nowrap;
  }
}

.function-card {
  display: flex;
  width: 335px;
  border-radius: 20px;
  height: 72px;
  position: relative;
  margin: 10px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px #dddddd;
  margin-bottom: 2em;
}
@media screen and (min-width: 1024px) and (min-width: 768px) {
  .function-card {
    margin: 17px;
  }
}
.function-card-number {
  position: absolute;
  left: -13px;
  top: 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 31px;
  width: 24px;
  text-align: center;
  height: 21px;
  padding-top: 2px;
}
.function-card i {
  display: flex;
  align-items: center;
  padding-left: 29px;
  font-size: 21px;
  color: #909090;
}
.function-card-title {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

/******Componant Restaurant Card*****/
.container-restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .container-restaurant {
    justify-content: space-evenly;
  }
  .container-restaurant a {
    width: 40%;
  }
}

.container-card-restaurant {
  background-color: #F6F6F6;
  padding-bottom: 3em;
}

.restaurant-card {
  height: 251px;
  width: 340px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  background-color: white;
  margin-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .restaurant-card {
    width: 100%;
    margin-bottom: 4em;
  }
}
.restaurant-card img {
  width: 100%;
  height: 76%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.tag {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: #99E2D0;
  width: 80px;
  height: 22px;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
}
.tag p {
  margin: 0;
  color: #008766;
  font-weight: bold;
}

.card-content {
  padding-left: 10px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}
.card-content h3 {
  margin: 0;
  font-size: 16px;
  margin-top: 10px;
}
.card-content p {
  margin: 0;
  font-size: 14px;
}

.content-icon {
  display: flex;
  align-items: center;
}

.fa-heart {
  font-size: 22px;
}
.fa-heart:active {
  animation: heart 1000ms forwards;
}

@keyframes heart {
  to {
    background: linear-gradient(358.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  }
}
/****Footer *****/
.footer {
  background-color: #353535;
  color: white;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .footer {
    margin-top: 0;
    padding-top: 3em;
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) {
  .footer-img {
    display: flex;
  }
}
.footer img {
  width: 120px;
  padding-left: 2.5em;
  fill: white;
  padding-top: 2em;
}
@media screen and (min-width: 768px) {
  .footer img {
    padding-top: 0;
    padding-right: 1em;
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .footer img {
    padding-right: 3em;
  }
}
@media screen and (min-width: 768px) {
  .footer ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-left: 1em;
  }
}
.footer-list {
  display: flex;
  line-height: 2em;
  align-items: center;
}
.footer-list i {
  font-size: 13px;
}
.footer-list p {
  padding-left: 12px;
  margin: 0;
}
.footer-list a {
  color: white;
}

@media screen and (min-width: 768px) {
  .container-list {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container-list {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
