body {
    margin: 0;
}

/*******Variables****/

$bg-primary : #F6F6F6;
$bg-secondary : #99E2D0;

/****Animation******/

@keyframes show {
    0% {
        transform: translateX(-2000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes select {
    0% {
        transform: scaleX(0);
        
    }  
    100% {
        transform: scaleX(1);
    }
}

/****Header****/

.img-restau {
    width: 100%;

    @media screen and (min-width: 768px) {
        height: 380px;
        object-fit: cover;
    }
}

.container-logo {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;

    a {
        width: 20%;
        margin-left: 2em;

        @media screen and (min-width: 768px) {
            font-size: 24px;
        }
    }
}

.logo {
    width: 160px;

    @media screen and (min-width: 768px) {
        padding-left: 4em;
        width: 200px;
    }

    @media screen and (min-width: 1024px) {
        padding-left: 16em;
    }
}

/*******Main*******/

.main-container {
    position: absolute;
    top: 245px;
    background-color: $bg-primary;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    @media screen and (min-width: 768px) {
        width: 80%;
        top: 22em;
        left: 5em;
    }

    @media screen and (min-width: 1024px) {
        width: 70%;
        top: 25em;
        left: 14em;
    }

    &-2 {
        @media screen and (min-width: 768px) {
            top: 25em;
        }
    }
    
    &-title {
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            font-style: italic;
            text-align: center;
            font-family: 'Shrikhand';
            padding-left: 20px;

            @media screen and (min-width: 768px) {
                font-size: 28px;
            }
        }

        button {
            padding-left: 25px;
        }

        .s-menu {
            top: 6px;
        }
    }
}

.section-entree {
    animation: show 3s backwards;
}

.section-plat {
    animation: show 3s 2s backwards;
}

.section-dessert {
    animation: show 3s 4s backwards;
}

.container-section {
    padding: 25px;
    padding-top: 0;

    @media screen and (min-width: 1024px) {
        padding-left: 10em;
        padding-right: 10em;
        padding-bottom: 8px;
    }

    .link-menu {

        .select {
            display: none;
            padding: 0 20px;
            background-color: $bg-secondary;
            border-radius: 0 15px 15px 0;
            transform-origin: right;
        }
    
        &:focus, &:hover {
            .select {
                animation: select 1s forwards;
                display: flex;
                align-items: center;
            }
        }
    }

    h4 {
        text-transform: uppercase;
        font-weight: normal;

        &::after {
            content: "";
            border-bottom: 3px solid $bg-secondary;
            width: 45px;
            display: block;
        }
    }
}

.container-menu {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px darken($bg-primary, 10%);
    margin-bottom: 1em;

    .menu-name {
        padding: 15px;
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
    }

    h3, h5 {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;

        &:nth-child(1n) {
            font-weight: bold;
            font-size: 17px;
        }

        &:nth-child(2n) {
            font-size: 13px;
            font-weight: normal;
            line-height: 2em;
        }
    }

    .price {
        font-weight: bold;
        display: flex;
        align-items: flex-end;
        padding-right: 10px;
    }

    i {
      color: #FFFFFF;
      font-size: 1.2em;
    }
}

.container-btn {
    text-align: center;
    margin-bottom: 3em;
}


/*****Footer****/

.footer-menu {
    position: relative;
    top: 73em;

    &-2{
        top: 64em;

        @media screen and (min-width: 768px) {
            top: 80em;
        }

        @media screen and (min-width: 1024px) {
            top: 80em;
        }
    }
}