body {
  margin: 0;
}

/*******Variables****/
/****Animation******/
@keyframes show {
  0% {
    transform: translateX(-2000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes select {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/****Header****/
.img-restau {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .img-restau {
    height: 380px;
    object-fit: cover;
  }
}

.container-logo {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.container-logo a {
  width: 20%;
  margin-left: 2em;
}
@media screen and (min-width: 768px) {
  .container-logo a {
    font-size: 24px;
  }
}

.logo {
  width: 160px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-left: 4em;
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    padding-left: 16em;
  }
}

/*******Main*******/
.main-container {
  position: absolute;
  top: 245px;
  background-color: #F6F6F6;
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
@media screen and (min-width: 768px) {
  .main-container {
    width: 80%;
    top: 22em;
    left: 5em;
  }
}
@media screen and (min-width: 1024px) {
  .main-container {
    width: 70%;
    top: 25em;
    left: 14em;
  }
}
@media screen and (min-width: 768px) {
  .main-container-2 {
    top: 25em;
  }
}
.main-container-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container-title h2 {
  font-style: italic;
  text-align: center;
  font-family: "Shrikhand";
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .main-container-title h2 {
    font-size: 28px;
  }
}
.main-container-title button {
  padding-left: 25px;
}
.main-container-title .s-menu {
  top: 6px;
}

.section-entree {
  animation: show 3s backwards;
}

.section-plat {
  animation: show 3s 2s backwards;
}

.section-dessert {
  animation: show 3s 4s backwards;
}

.container-section {
  padding: 25px;
  padding-top: 0;
}
@media screen and (min-width: 1024px) {
  .container-section {
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 8px;
  }
}
.container-section .link-menu .select {
  display: none;
  padding: 0 20px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transform-origin: right;
}
.container-section .link-menu:focus .select, .container-section .link-menu:hover .select {
  animation: select 1s forwards;
  display: flex;
  align-items: center;
}
.container-section h4 {
  text-transform: uppercase;
  font-weight: normal;
}
.container-section h4::after {
  content: "";
  border-bottom: 3px solid #99E2D0;
  width: 45px;
  display: block;
}

.container-menu {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px #dddddd;
  margin-bottom: 1em;
}
.container-menu .menu-name {
  padding: 15px;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}
.container-menu h3, .container-menu h5 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container-menu h3:nth-child(1n), .container-menu h5:nth-child(1n) {
  font-weight: bold;
  font-size: 17px;
}
.container-menu h3:nth-child(2n), .container-menu h5:nth-child(2n) {
  font-size: 13px;
  font-weight: normal;
  line-height: 2em;
}
.container-menu .price {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding-right: 10px;
}
.container-menu i {
  color: #FFFFFF;
  font-size: 1.2em;
}

.container-btn {
  text-align: center;
  margin-bottom: 3em;
}

/*****Footer****/
.footer-menu {
  position: relative;
  top: 73em;
}
.footer-menu-2 {
  top: 64em;
}
@media screen and (min-width: 768px) {
  .footer-menu-2 {
    top: 80em;
  }
}
@media screen and (min-width: 1024px) {
  .footer-menu-2 {
    top: 80em;
  }
}

/*# sourceMappingURL=style-menu.css.map */
